@page "/projects"
@using KanbanApp.Data
@inject ProjectService ProjectService
<PageTitle>Weather forecast</PageTitle>

<h1>Projects</h1>
<p>Project management page.</p>
@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in projects)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Project[]? projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await ProjectService.GetProjectsAsync();
    }
}
